:root {
  --bg: #fff;
  --bgSoft: #fbf8eb;
  --text: #3a1e0e;
  --textSoft: #70726e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
