.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bgSoft);
  border-radius: 10px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  color: var(--bgText);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f6efcb;
  padding: 10px;
  border-radius: 10px;
  color: #ae7720;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ae7720;
}

.input::placeholder {
  color: #ae7720;
}
