.container {
  position: fixed;
  background-color: var(--bgSoft);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  top: 0;
  left: 0;
  width: 270px;
  padding: 20px;
  overflow-y: auto;
}

.backOfficeLogo {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}
.userDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  color: var(--bgText);
  font-size: 15px;
  font-weight: 500;
}

.userTitle {
  font-size: 13px;
  color: var(--bgText);
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
}

.link {
  display: flex;
  color: var(--bgText);
  width: 170px;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.active {
  color: #fff;
  background-color: #8b571d;
  border-radius: 40px;
}

.link:hover {
  color: #fff;
  background-color: #ae7720;
  border-radius: 40px;
}

.logOut {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.logOut:hover {
  color: #fff;
  background-color: #de2b2b;
  border-radius: 50%;
}
