.container {
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.backOfficeLogo {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}
.userDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  font-size: 15px;
  font-weight: 500;
}

.userTitle {
  font-size: 13px;
  color: var(--textSoft);
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.logOut {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 10px;
  gap: 5px;
}

.logOut:hover {
  background-color: rgba(225, 82, 82, 0.611);
  border-radius: 10px;
}

.link:hover,
.active {
  background-color: #dcb341;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
